body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

#message-el3 {
    font-size: 40px;
    font-weight: bold;
    color: goldenrod;
}

#cards-elm {
    font-size: 40px;
    font-weight: bold;
}

#cards-el {
    font-size: 40px;
    font-weight: bold;
}

#sum-elm {
    font-size: 40px;
    font-weight: bold;
}

#sum-el {
    font-size: 40px;
    font-weight: bold;
}